# ========== Setting Files ==========

# Environment files
.env

# Python bytecode files
__pycache__/

# Python Virtual Env
venv
myenv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# JetBrains IDE MetaData
.idea/

# Mac
.DS_Store


# ========== Large Files ==========

# Cache Folder
cache/

# Datasets Folder
datasets/